@font-face {
    font-family: 'Hero';
    src: url('./font/Hero-Regular.ttf');
    font-style: normal;
     font-weight: 400;
}

.body{
height: 100vh;
font-family: 'Hero';
display: flex;
body{
    height: 100vh;
    font-family: 'Hero';
}


.logo{
    color:#F9FAF8;
    padding-left: 8px;
}

.a{
    display: flex;
    justify-content: flex-end;


    color:#E5E7EB;

}

.header{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
}

.HeaderContent{
    display: flex;
}

.HeaderLeft{
    display: flex;

}

.img{
    display: flex;
}


